.my-text {
  font-size: 40px;
  color: red;
}

.my-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid red;
  width: 20px;
  height: 20px;
}

.my-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid red;
  width: 20px;
  height: 20px;
}

/* ---- reset ----*/
.my-text {
  all: initial;
}

.my-checkbox {
  all: initial;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

.my-radio {
  all: initial;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}
